# Dependencies
node_modules/

# Build output
dist/
dist-desktop/
out/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.user

# Local dev
*.local

# FunkHub internal
/.megamemory
.megamemory/
*.db
*.db-shm
*.db-wal

# Electron builder cache
.electron-builder-cache/


# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
